<input type="text" placeholder="Введите имя собаки" />
<input type="text" placeholder="Введите номер лицензии или ВПКОС" />
<input type="text" placeholder="Введите дату рождения собаки" />
<input type="text" placeholder="Введите Id матери Вашей собаки" />
<input type="text" placeholder="Введите Id отца Вашей собаки" />
<button>Добавить</button>